/* css/styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}
.sidebar {
  width: 220px;
  background: #2c3e50;
  color: white;
  height: 100vh;
  padding: 20px;
}
.sidebar h2 { margin-bottom: 20px; }
.sidebar ul { list-style: none; padding: 0; }
.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar li:hover { color: #1abc9c; }
.content {
  flex: 1;
  padding: 20px;
}
form {
  display: grid;
  max-width: 400px;
  gap: 10px;
  margin-bottom: 20px;
}
form input, form button, form select {
  padding: 8px;
  font-size: 14px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background: #2c3e50;
  color: white;
}
td, th {
  text-align: center;
}
button {
  cursor: pointer;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background: #16a085;
}

/*Diseño de Nomina*/
#tablaNomina td, #tablaNomina th {
  padding: 10px;
  text-align: center;
}
#tablaNomina th {
  background: #34495e;
  color: white;
}
#tablaNomina td strong {
  color: green;
}

/*Diseño de Impuestos*/
#tablaImpuestos td, #tablaImpuestos th {
  padding: 10px;
  text-align: center;
}
#tablaImpuestos th {
  background: #8e44ad;
  color: white;
}
#tablaImpuestos td strong {
  color: darkred;
}


/*Diseño de Flujo de efectivo*/
#tablaFlujo td, #tablaFlujo th {
  padding: 10px;
  text-align: center;
}
#tablaFlujo th {
  background: #27ae60;
  color: white;
}
#saldo {
  color: darkblue;
  font-weight: bold;
}

/*Diseño de Inventario*/
#tablaInventario td, #tablaInventario th {
  padding: 10px;
  text-align: center;
}
#tablaInventario th {
  background: #d35400;
  color: white;
}
